@import url('https://fonts.googleapis.com/css?family=Righteous');

$red: #e22e0d;
$font: 'Righteous', cursive;
*{
    padding: 0;
    margin: 0;
    font-family: $font;
}

*:focus {
    outline: none;
}

.contenido{
    position: absolute;
    height: 600px;
    width: 100vw;
    overflow: hidden;
    img{
        position: absolute;
        top: 0;
        right: -350px;
        height: 100%;
    }
    form{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color:#0d58e244;
        i{
            position: absolute;
            top: 5%;
            left: 50%;
            transform: translate(-50%, 0);
            font-size: 100px;
            color: white;
        }
        .user, .password, .password2{
            position: absolute;
            width: 70%;
            height: 100px;
            left: 50%;
            transform: translate(-50%, 0);
            /* background-color: black; */
            /* h1{
                text-align: left;
                font-size: 20px;
                color: white;
            } */
            span{
                position: absolute;
                height: 50px;
                width: 20%;
                bottom: 0;
                left: 0;
                background-color: white;
                border-radius: 200px 0px 0px 200px;
                i{
                    font-size: 30px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: blue;
                   }
            }
           
            input{
                position: absolute;
                height: 50px;
                width: 80%;
                right: 0;
                bottom: 0;
                border: none;
                font-size: 20px;
                border-radius: 0px 200px 200px 0px;
                
            }
            ::-webkit-input-placeholder {
                font-size: 18px;
              }
              ::-moz-placeholder {
                font-size: 18px;
              }
              :-ms-input-placeholder {
                font-size: 18px;
              }
              ::placeholder {
                font-size: 18px;
              }
        }
        
        .user{
            top: 25%;
        }
        .password{
            top: 40%;
        }
        .password2{
            top: 55%;
        }
    }
    .register{
        position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            top: 80%;
            width: 70%;
            font-size: 30px;
            border: none;
            color: white;
            background-color: #007bff;
            padding-bottom: 5px;
            padding-top: 5px;
            letter-spacing: 3px;
            border-radius: 200px;
    }
}