{% extends "../routines/inicio-alumno.html" %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'routines/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'routines/css/miRutina.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock %}
{% block contenido %} <!-- Se define el bloque que encierra todo el contenido de esta vista -->
{% block menu %}{{ block.super }}{% endblock %}
{% block principal %}
{% for semana in s %}
<div class="semana{{semana.numero}}" >
        <div class="full-container semana">
            <p>Semana {{semana.numero}}</p>
            <p>Semana {{semana.numero}}</p>
            {% ifequal semana.numero 1 %}
            <i class="fas fa-angle-right" onclick="cambiarSem('{{semana.numero}}','{{semana.numero|add:"1" }}')"></i>
            {% else %}
            {% ifequal semana.numero 4 %}
            <i class="fas fa-angle-left" onclick="cambiarSem('{{semana.numero}}','{{semana.numero|add:"-1" }}')"></i>
            {% else %}
            <i class="fas fa-angle-left" onclick="cambiarSem('{{semana.numero}}','{{semana.numero|add:"-1" }}')"></i>
            <i class="fas fa-angle-right" onclick="cambiarSem('{{semana.numero}}','{{semana.numero|add:"1" }}')"></i>
            {% endifequal %}
            {% endifequal %}
        </div>
        {% for dia in semana.dias.all %}
        <div class="container dia dia1" onclick="showExercise()">
            <h1 onclick="showExercise()">Día {{forloop.counter}} <i class="fas fa-angle-down"></i> </h1>
        </div>

        <div class="full-container ejercicios">
            {% for ejercicio in dia.ejercicios.all %}
            <div class="full-container ejercicio" >
               <a href="{% url 'registro_ejercicio' semana.rutina_cliente.rutina.id ejercicio.id dia.id semana.id %}"> <span>{{ejercicio.nombre}}
                {% for r in semana.registro_set.all %}
                {% ifequal r.rutina_ejercicio.dia.id dia.id %}
                {% ifequal r.rutina_ejercicio.ejercicio.id ejercicio.id %}
                {% ifequal r.completado True %}
                <i class="fas fa-check-circle"></i></span>
                {% endifequal %}
                {% endifequal %}
                {% endifequal %}
                {% endfor %}
                <i style="color: black" class="fas fa-angle-right arrowE"></i></a>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
</div>
{% endfor %}
{% endblock %} <!-- Se cierra el bloque principal -->
{% endblock %} <!-- Se cierra el bloque del contenido -->
{% block scripts %}
    <script language="JavaScript" type="text/javascript" src="{% static 'routines/js/effects.js' %}"></script>
    <script rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"></script>
{% endblock %}
