{% extends "registration/login.html" %}
{% load widget_tweaks %}
    {% load static %}
    {% block styles %}
        <link rel="stylesheet" href="{% static 'rutinas/css/login.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    {% endblock %}
{% block contenido %}
<div class="contenido">
        {% block formulario %}
        <img src="{% static 'rutinas/img/reset-password.jpeg' %}" alt="">
        <form method="POST">
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
            {% endfor %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                    <p>Usuario o contraseña incorrectos. Intente nuevamente</p>
                    {% endfor %}
                </div>
            {% endif %}
            <i class="fab fa-autoprefixer"></i>
            <h2>Recuperar contraseña</h2>
            <div class="user">
                <span><i class="fas fa-at"></i></span> 
                    {{ form.email }}
                    {% if form.is_bound %}
                    {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% else %}
                    {% render_field field class="form-control is-valid" %}
                    {% endif %}
                    {% else %}
                    {% render_field field class="form-control" %}
                    {% endif %}
            </div>
            <input type="submit" class="login" value="Recuperar"/>
        </form>
        {% endblock %}
</div>
{% endblock %}
