{% extends "registration/login.html" %}
{% load widget_tweaks %}
    {% load static %}
    {% block styles %}
        <link rel="stylesheet" href="{% static 'rutinas/css/login.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    {% endblock %}
{% block contenido %}
    <div class="contenido">
            {% block formulario %}
            <img src="{% static 'rutinas/img/recuperar.jpeg' %}" alt="">
            <form method="POST">
                {% csrf_token %}
                <i class="fab fa-autoprefixer"></i>
                <h2>Nueva contraseña</h2>
                <div class="alert alert-danger" role="alert">
                    {{ form.new_password1.errors }}
                </div>
                <div class="user">
                    <span><i class="fas fa-unlock-alt"></i></span>
                    {{ form.new_password1 }}
                </div>
                <div class="alert alert-danger" role="alert">
                    {{ form.new_password2.errors }}
                </div>
                <div class="password">
                    <span><i class="fas fa-unlock-alt"></i></span>
                    {{ form.new_password2 }}
                </div>
                <input type="submit" class="login" value="Cambiar"/>
            </form>
            {% endblock %}
    </div>
{% endblock %}
{% block recuperar %}
{% endblock %}