{% extends "base.html" %}
{% load widget_tweaks %}
    {% load static %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'routines/css/login.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    {% endblock %}
    {% block contenido %}
    <div class="contenido">
        {% if next %}
        {% if user.is_authenticated %}
        <p>No tenés permiso para acceder aquí</p>
        {% else %}
        <div class="alert alert-danger" role="alert">
            <p>Logueate para acceder a este sitio</p>
        </div>
        {% endif %}
        {% endif %}
        {% block formulario %}
        <img src="{% static 'routines/img/login.jpg' %}" alt="">
        <form method="POST">
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
            {% endfor %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                    <p>Usuario o contraseña incorrectos. Intente nuevamente</p>
                    {% endfor %}
                </div>
            {% endif %}
            <i class="fab fa-autoprefixer"></i>
            <div class="user">
                <span><i class="fas fa-at"></i></span>
                        {{ form.username }}
                        {% if form.is_bound %}
                        {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% else %}
                        {% render_field field class="form-control is-valid" %}
                        {% endif %}
                        {% else %}
                        {% render_field field class="form-control" %}
                        {% endif %}
            </div>
            <div class="password">
                <span><i class="fas fa-unlock-alt"></i></span>
                        {{ form.password }}
                        {% if form.is_bound %}
                        {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% else %}
                        {% render_field field class="form-control is-valid" %}
                        {% endif %}
                        {% else %}
                        {% render_field field class="form-control" %}
                        {% endif %}
            </div>
            <button type="submit" class="login">LOGIN</button>
            <hr />
            {% block recuperar %}
                <a href="{% url 'password_reset' %}"><p class="register">Recuperar
                        contraseña</p></a>
            {% endblock %}
        </form>
        {% endblock %}
    </div>
    {% endblock %}
