{% extends "registration/login.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'routines/css/logout.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock %}
{% block formulario %}
<img src="{% static 'routines/img/enviado.jpeg' %}" alt="">
<div>
    <i class="fab fa-autoprefixer"></i>
    <h2 class="text-center">Se ha enviado un mail para recuperar su contraseña</h2>
</div>
{% endblock %}
