@import url('https://fonts.googleapis.com/css?family=Anton');

$red: #e22e0d;
$font: 'Anton', sans-serif;

*:focus {
    outline: none;
}

.menu{
    position: fixed;
    z-index: 90;
    height: 75px;
    width: 100%;
    top: 0;
    background: $red;

    .burger-icon{
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translate(0, -50%);
        height: 50px;
        width: 50px;
        background-color: transparent;
        cursor: pointer;
        .bar{
            position: absolute;
            background-color: white;
            width: 40px;
            left: 2px;
            height: 7px;
            border-radius: 200px
        }
        .bar1{
            top: 7px;
        }
        .bar2{
            top: 21px;
        }
        .bar3{
            top: 35px;
        }
    }

    .logo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
    }
    .exit{
        position: absolute;
        right: 2px;
        top: 50%;
        transform: translate(0%, -50%);
        font-size: 50px;
        cursor: pointer;
    }
}

.menu-lateral{
    position: absolute;
    z-index: 100;
    top: 0;
    left: -75%;
    background-color: black;
    height: 600px;
    width: 75%;
    transition: .5s;
    /* cross */
    i{
        font-size: 50px;
        color: white;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    /* imagen superior */
    .image{
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translate(-50%,0);
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: white;
        i{
            color: $red;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 50px;
            width: 50px;

        }
        i::before{
            font-size: 70px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    ul{
        position: absolute;
        width: 100%;
        left: 0;
        top: 150px;
        color: white;
        li{
            position: absolute;
            height: 70px;
            line-height: 50px;
            width: 100%;
            font-size: 30px;
            i{
                position: absolute;
                left: 20%;
                height: 50px;
                width: 50px;
                top: 50%;
                transform: translate(0, -50%);
                color: $red;
            }
            span{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
        li:nth-child(1){
            top: 0px;
        }
        li:nth-child(2){
            top: 75px;
        }
        li:nth-child(3){
            top: 150px;
        }
        li:nth-child(4){
            top: 225px;
        }
        li:nth-child(5){
            top: 300px;
        }
        li:nth-child(6){
            top: 375px;
        }
    }
}
