@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import 'menu.scss';

$red: #e22e0d;
$font: 'Josefin Sans', sans-serif;


*{
    padding: 0;
    margin: 0;
    font-family: $font;
}
*:focus {
    outline: none;
}

body{
    transition: .5s;
}

.semana{
    height: 100px;
    margin-top: 75px; //altura del menu
    background-image: url('../img/fondo6.jpg');
    background-size: 100%;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    text-align: center;
    p{
        text-transform: uppercase;
        line-height: 100px;
        background-color: rgba(0, 0, 0, 0.404);
        color: rgb(255, 255, 255);
        mix-blend-mode: darken;
        position: absolute;
        top: 75px;
        right: 0%;
        width: 100%;
        height: 100px;
        font-family: arial;
        font-size: 50px;
        font-weight: 800;
        margin: 0;
        padding: 0;
        opacity: 1;

    }
    p:last-child {
        mix-blend-mode: normal;
        color: transparent;
        background: none;
        box-shadow: 0 0 16px #000, 0 0 32px #000;
      }

      i{
          font-size: 70px;
          position: absolute;
          right: 0;
          top: 90px;
          color: white;
      }
}

.dia{
    height: calc((100vh - 175px) / 3);
    background-color: #212529;
    color:white;

    h1{
        color:white;
        text-align: center;
        line-height: calc((100vh - 175px) / 3);
        margin: 0;
    }
}


.dia1{
    border-top: 2px solid white;
}
.dia2{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.ejercicios{
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    .ejercicio{
        height: 50px;
        border-bottom: 2px solid #212529;
        span{
            font-size: 20px;
            line-height: 50px;
            i{
                font-size: 25px;
                color: #9aca3c;
            }
        }
        .arrowE{
            float: right;
            line-height: 50px;
            font-size: 25px;
        }
    }
    .ultimoE{
        border-bottom: 0;
    }
}
