@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

@import 'menu.scss';

$font: 'Anton', sans-serif;

*{
    padding: 0;
    font-family: $font;
}

.contenedor {
    position: absolute;
    width: 100%;
    height: 100%;}
nav {
    background-color: white;
    bottom: 54%;
    width: 100%;
    height: 7%;
    position: absolute;
}
.nav-item.nav-link {
        color: white;
        background-color: red;
        width: 50%;
        height: 50px;
        padding-top: 20px;
        text-align: center;
}

.fondo {
    position: absolute;
    height: 29%;
    width: 100%;
    background-color: rgba(230, 9, 9, 0.651);
    margin-top: 75px; //altura del menu
    background-image: url('../img/fondo-perfil.png');
    background-size: 100%;
    background-position: 0px 0px;
    background-repeat: no-repeat;

    .perfilcamara {
        width: 135px;
        height: 135px;
        right: 35%;
        bottom: 0%;
        position: absolute;
        z-index: 1;

        .img-perfil{
            position: absolute;
            border-radius: 50%;
            border-style: solid;
            border-color: white;
            border-width: 3px;
            width: 100%;
            height: 100%;
        }

            .camera-change {
                width: 25%;
                position: absolute;
                bottom: 0%;
                right: 0%;
            }
    }
}
span {
    position: absolute;
    top: 300px;
}
.container-formulario{
    position: absolute;
    width: 85%;
   // background-color: rgba(245, 247, 241, 0.561);
    height: 2%;
    border-radius: 1em;
    padding: 1% 3% 3% 1%;
    margin: 70% 7% 5% 7%;
    #btn-enviar{
        background-color: green;
        color: white;
        padding: 0.5% 5% 0% 5%;
        margin-left: 80%;
        font-size: 29px;
        position: relative;
        @media screen and (max-width: 960px) {
            margin-left: 72%;
            margin-top: 4%;
        }
        @media screen and (max-width: 576px) {
            margin: auto;
            display: block;
            padding: 3% 15% 2% 15%;
        }
}
input[type], textarea {
        background-color: #dbd7d7;
        width: 100%;
        height: 55%;
        transition: .5s;
        border-radius: 10px;
        @media screen and (max-width: 576px) {
            margin-bottom: 5%;
        }

}
input[type]:focus {
    background-color: white;
}
input[type=number] {
    -moz-appearance:textfield;
 }

}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    margin: 0;
                }
