<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div class="contenido">
        <img src="assets/img/login.jpg" alt="">
        <form action="">
            <i class="fab fa-autoprefixer"></i>
            <div class="user">
                <span><i class="fas fa-at"></i></span> 
                <input type="email" name="" id="" placeholder="Email" required>
            </div>
            <div class="password">
                <span><i class="fas fa-unlock-alt"></i></span>
                <input type="password" name="" id="" placeholder="Contraseña" required>
            </div>
            <!-- Este boton tiene que estar cuando sea funcional el login -->
            <!-- <button type="submit">LOGIN</button> -->
        </form>
        <button class="login" onclick="window.open('home.html', '_self')">LOGIN</button>
        <button class="register" onclick="window.open('create.html', '_self')">Crear Cuenta</button>
    </div>
    
</body>
</html>