<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/miRutina.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">

    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="assets/js/effects.js"></script>
    <title>Document</title>
</head>
<body>

    <div class="menu">
        <span class="logo"><i class="fab fa-autoprefixer"></i></span>
        <span class="exit" onclick="window.open('index.html', '_self')"><i class="fas fa-sign-out-alt"></i></span> 
        <div class="burger-icon" onclick="openMenu()">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </div>
    </div>

    <div class="menu-lateral">
        <i class="fas fa-times" onclick="closeMenu()"></i>
        <div class="image">
                <img src="assets/img/profile.jpeg" width="110%" style=" border-radius: 100%; ">
            </div>
        <ul>
            <li onclick="window.open('home.html', '_self')">
                <i class="fas fa-home"></i>
                <span>Home</span>
            </li>
            <li>
                <i class="fas fa-user"></i>
                <span>Perfil</span>
            </li>
            <li>
                <i class="fas fa-dumbbell"></i>
                <span>Rutinas</span>
            </li>
            <li>
                <i class="fas fa-dollar-sign"></i>
                <span>Pagos</span>
            </li>
            <li>
                <i class="fas fa-store"></i>
                <span>Store</span>
            </li>
            <li>
                <i class="fas fa-question"></i>
                <span>FAQ</span>
            </li>
        </ul>

    
    </div>
</body>
</html>