@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Anton");
*:focus {
  outline: none; }

.menu {
  position: fixed;
  z-index: 90;
  height: 75px;
  width: 100%;
  top: 0;
  background: #e22e0d; }
  .menu .burger-icon {
    position: absolute;
    top: 50%;
    left: 3%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    height: 35px;
    width: 40px;
    background-color: transparent;
    cursor: pointer; }
    .menu .burger-icon .bar {
      position: absolute;
      background-color: #212529;
      width: 100%;
      height: 7px;
      border-radius: 200px; }
    .menu .burger-icon .bar1 {
      top: 0px; }
    .menu .burger-icon .bar2 {
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); }
    .menu .burger-icon .bar3 {
      bottom: 0px; }
  .menu .logo {
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white; }
  .menu .exit {
    color: #212529;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    font-size: 30px;
    cursor: pointer; }

.menu-lateral {
  position: absolute;
  z-index: 100;
  top: 0;
  left: -100%;
  background-color: black;
  height: 100vh;
  width: 100%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  /* cross */
  /* imagen superior */ }
  .menu-lateral i {
    font-size: 50px;
    color: white;
    position: absolute;
    top: 15px;
    right: 15px; }
  .menu-lateral .image {
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    height: 150px;
    width: 150px; }
    .menu-lateral .image img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: 5px solid #687480; }
  .menu-lateral ul {
    height: calc(100vh - 180px);
    position: absolute;
    width: 100%;
    left: 0;
    top: 180px;
    color: white;
    list-style: none; }
    .menu-lateral ul li {
      position: relative;
      height: calc(100% / 6);
      line-height: 50px;
      width: 100%;
      font-size: 30px; }
      .menu-lateral ul li i {
        position: absolute;
        left: 25%;
        height: 50px;
        width: 50px;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        color: #687480; }
      .menu-lateral ul li span {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%); }

* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif; }

*:focus {
  outline: none; }

.imgeBack {
  position: absolute;
  width: 100%;
  height: 140px;
  top: 75px;
  z-index: 3;
  background-image: url("../img/create.jpg");
  background-repeat: no-repeat;
  background-position: 0 -30px;
  background-size: 140%; }
.nombre-ej{
  word-wrap: break-word;
  max-width: 220px !important;
}
.header {
  position: absolute;
  width: 100%;
  height: 140px;
  top: 75px;
  z-index: 4;
  background-color: #21252946; }
  .header h3 {
    text-align: left;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 10px; }
    .header h3 span {
      line-height: 50px;
      font-size: 30px;
     }
  .header .btn-info {
    position: absolute;
    right: 0;
    top: 20%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    background-color: transparent;
    border: none; }
    .header .btn-info i {
      color: white;
      padding: 0;
      margin: 0;
      font-size: 50px; }

.modal-body img {
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  padding-bottom: 20px; }

.modal-body p {
  text-align: justify;
  text-justify: inter-word; }

.table {
  position: absolute;
  top: 305px;
  text-align: center; }
  .table tbody tr td input {
    border: none;
    /* background-color: #21252923; */ }

#add_row, #delete_row {
  position: absolute;
  top: 215px;
  text-align: center;
  width: 50%;
  height: 40px;
  color: white;
  border-radius: 0;
  background-color: #e22e0d;
  line-height: 30px; }

#add_row {
  left: 0; }

#delete_row {
  left: 50%; }

.finish {
  position: absolute;
  top: 255px;
  width: 100%;
  height: 50px;
  background-color: #212529;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 60px;
  font-size: 30px; }
