@import url('https://fonts.googleapis.com/css?family=Anton');

@import 'home.scss';
@import 'menu.scss';

$red: #e22e0d;
$font: 'Anton', sans-serif;

*{
    padding: 0;
    margin: 0;
    font-family: $font;
}
*:focus {
    outline: none;
}

body{
    transition: .5s;
}


