{% extends "../rutinas/inicio-alumno.html" %}
{% load staticfiles %} <!-- Se cargan los archivos estáticos de CSS, HTML, etc -->
{% load static %}
{% load ratings %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'rutinas/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'rutinas/css/inicioProfe.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    {% endblock %}
{% block contenido %} <!-- Se define el bloque que encierra todo el contenido de esta vista -->
{% block menu %}
{{ block.super }} 
{% endblock %} 
{% block principal %}
<div class="buscador">
    <h2>Detalle producto</h2>
    <img class="img-fluid img-detalle" src={{producto.imagen.url}} alt="">
    <p><b>Producto:</b> {{producto.nombre}}</p>
    <p><b>Descripción:</b> {{producto.descripcion}}</p>
    <p><b>Precio:</b> ${{producto.precio}}</p>
    <button type="button" class="col-sm-12 btn btn-success">Añadir al carrito</button>
</div>
{% endblock%}
{% endblock%}