{% extends "../rutinas/inicio-alumno.html" %}
{% load staticfiles %} <!-- Se cargan los archivos estáticos de CSS, HTML, etc -->
{% load static %}
{% load ratings %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'rutinas/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'rutinas/css/inicioProfe.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    {% endblock %}
{% block contenido %} <!-- Se define el bloque que encierra todo el contenido de esta vista -->
{% block menu %}
{{ block.super }} 
{% endblock %} 
{% block principal %}
<div class="buscador">
    <h2>Comprar</h2>
    <form method="POST">
        {% csrf_token %}
        <h3><b>Servicio:</b> {{servicio.nombre}}</h3>
        <h3><b>Precio:</b> ${{servicio.precio}}</h3><br>
        <h3><b>Desde: </b>{{desde}}</h3>
        <h3><b>Hasta: </b>{{hasta}}</h3>
        <h3>Paga con</h3>
        <div class="form-check">
                {{ form.medio_pago.label }}
                {{ form.medio_pago }}
        </div>
        <br>
        <div class="form-group">
                {{ form.num_tarjeta.label }}
                {{ form.num_tarjeta }}
        </div>
        <button type="submit" class="col-sm-12 btn btn-success">Pagar</button>  
    </form>
</div>
{% endblock%}
{% endblock%}