{% extends "../rutinas/inicio-alumno.html" %}
{% load staticfiles %} <!-- Se cargan los archivos estáticos de CSS, HTML, etc -->
{% load static %}
{% load ratings %}
{% block styles %}
<link rel="stylesheet" href="{% static 'rutinas/css/ejercicio.css' %}">
{% endblock %}
{% block principal %} 
    <!-- imagen del banner superiro -->
    <div class="full-container imgeBack"></div>

    <!-- texto y botones del banner -->
    <div class="full-container header">
        <h3>Semana {{sem.numero}} / Dia 1 <br> <span class="nombre-ej">{{reg.rutina_ejercicio.ejercicio.nombre}}</span></h3>

        <button type="button" class="btn btn-lg btn-info" data-toggle="modal" data-target="#infoEj">
            <i class="fas fa-info-circle"></i>
        </button>
        
    </div>

    <!-- Modal con la info del ejercicio-->
    <div class="modal fade" id="infoEj" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Intructivo Ejercicio</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                        <img class="img img-fluid" src="{{ reg.rutina_ejercicio.ejercicio.gif.url }}" alt="" srcset="">
                    <p>
                        {{reg.rutina_ejercicio.ejercicio.descripcion}}
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <a id="add_row" class="btn btn-default pull-left"><i class="fas fa-plus"></i></a>
    <a id='delete_row' class="pull-right btn btn-default"><i class="fas fa-minus"></i></a>
    <form method="post" action="{% url 'registro_ejercicio' r e d s %}">
                    {% csrf_token %}
                <button type="submit" class="finish" onclick="cambiarboton()">¡Terminé!</button>
                <input type="text" name="completado" id="completed">

                <table class="table table-responsive" id="tab_logic" >
                    <thead>
                        <tr>
                            <th scope="col">Serie</th>
                            <th scope="col">Repeticiones</th>
                            <th scope="col">Peso[kg]</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id='addr0'></tr>
                        <tr>
                            <th scope="row"><input style="border: none; text-align: center" type="number" name="id_numero" value="1" id="rep1" readonly></th>
                            <td><input style="border: none; text-align: center" type="number" name="id_repeticiones" id="rep1" min="1" ></td>
                            <td><input style="border: none; text-align: center" type="number" name="id_peso_levantado" id="peso1" min="1" ></td>
                            <td><button type="submit" class="btn btn-success">Guardar</button></td>
                        </tr>
                        <tr id='addr3'></tr>
                    </tbody>
                </table>
    </form>
{% endblock%}
{% block scripts %}
    <script language="JavaScript" type="text/javascript" src="{% static 'rutinas/js/effects.js' %}"></script>
    <script rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<script>
function cambiarboton(){
    var i=document.getElementById("completed").value = "True";
}
</script>
    {% endblock %}